<p>footer works!</p>
<div>
    <a href="https://www.facebook.com" target="blank"><img src="..." alt="LinkFacebook"></a>
    <a href="https://www.instagram.com" target="blank"><img src="..." alt="LinkInstagram"></a>
    <a href="https://www.youtube.com" target="blank"><img src="..." alt="Linkyoutube"></a>
    <a href="https://www.twitter.com" target="blank"><img src="..." alt="Linkyoutube"></a>
</div>
<div id="logopagos">
    <a> <img src="..." alt="logopagos"></a>
</div>
<address>Tranversal 5 g # 48 b 40 sur Teléfono 3138000 Bogotá. D.C </address>
Derechos Reservados | HOME &copy;